<nav>

<div class="navLinks">
    <div class="logo-wrapper">
        <img src="/imgs/icons/shelfiIcon.svg" alt="shelfiIcon">
        <p>Shelfie</p>
    </div>
    <a href="/Explore">Explore</a>
    <a href="/Shelf">Shelf</a>
    <a href="/About">About</a>

</div>

<form class="searchForm">
    <input name="search" type="text" placeholder="Search Book..." class="searchText">
    <button type="submit" hidden >Search</button>

<div class="login-container">
    <img src="/imgs/icons/accountIcon.svg" alt="shelfiIcon">
    <div class="divider"></div>
    <a href="/Login">Sign In</a>
</div>
</form>

</nav>