<nav>
<img src="/imgs/icons/shelfiIcon.svg" alt="shelfiIcon">
<a href="/Explore">Explore</a>
<a href="/Shelf">Shelf</a>
<a href="/About">About</a>

<form class="searchForm">
    <img src="/imgs/icons/searchIcon.svg" alt="shelfiIcon">
    <input type="text" placeholder="Search Book..." class="searchText">
    <button type="submit">Search</button>
</form>

</nav>