<nav class="p-4 pb-0">

<div class="navLinks">
    <a href="/">
        <div  class="logo-wrapper">
            <img src="/imgs/icons/shelfiIcon.svg" alt="shelfiIcon">
            <p>Shelfie</p>
        </div>
    </a>
    <a href="/Explore">Explore</a>
    <a href="/Shelf">Shelf</a>
    <a href="/About">About</a>

</div>

<form class="searchForm" action="/Explore" method="get">
    <input name="search" type="text" placeholder="Search Book..." class="searchText">
    <button type="submit" hidden >Search</button>


    <div class="login-container">
        <% if (user) { %>
            <p>Welcome, <%- user.username%> </p>
            <img src="<%- user.profile_img ? user.profile_img : '/imgs/icons/accountIcon.svg' %>" alt="Profile Image">
            <div class="divider"></div>
            <a href="/logout">Logout</a>
        <% } else { %>
            <img src="/imgs/icons/accountIcon.svg" alt="shelfiIcon">
            <div class="divider"></div>
            <a href="/login">Sign In</a>
        <% } %>
    </div>
</nav>