<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <h2>ADMIN ACCOUNT</h2>

        <a href="/searchuser"> Search User </a>
        <a href="/addbook"> Search User </a>

    <%- include('partials/footer') %>


     </body>
 </html>