<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <h2>ADMIN ACCOUNT</h2>

        <div class="adminPanel">
            <a href="/admin/searchuser" class="panelItem"> Search User </a>
            <a href="/admin/addbook" class="panelItem"> Add a Book </a>
        </div>


    <%- include('partials/footer') %>


     </body>
 </html>