<%- include('partials/header') %>
<%- include('partials/navbar') %>

<h2>Discover New Reads and Expand Your Shelf</h2>

<div class="exploreSearchForm">
    <form class="searchForm">
        <input type="text" placeholder="Search Book..." class="exploreSearch">
        <button class="searchBtn" type="submit">Search</button>
    </form>
</div>


<%- include('partials/footer') %>