<%- include('partials/header') %>
<%- include('partials/navbar') %>


<div class="homePageContainer px-3 pt-3"> 
<div class="homePageTextContainer">

    <h1 class="mt-5">Capture Your Reading Journey, One Book at a Time.</h1>
    <p class="homePageText">
        A digital home for your personal library. Track your books, create and customize reading lists, log your
        progress,
        and
        discover new favorites—all in one place!
    </p>

    <button class="signUpButton my-3">Sign up</button>
</div>
<img src="/imgs/homeImg.png" alt="eeeees" class="homePageImage">
</div>

</body>
</html>



<%- include('partials/footer') %>
