<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="signContainer">
    <div class="formContainer">
        <img src="/imgs/icons/accountIcon.svg" alt="User Icon" class="formIcon">
        <h1>Login</h1>
        <form action="/login" method="POST" class="formStyle">
            <input type="text" id="username" name="username" placeholder="User Name" required>
            <input type="password" id="password" name="password" placeholder="Password" required>

            <div class="buttonBG">
                <button type="submit">Login</button>
            </div>
        </form>

        <div class="formFooter">
            <p>Don't have an account?</p>
            <a href="/register" class="signIn">Sign up</a>
        </div>

        <div class="errorMsgForm">
            <% if (errors.length> 0) { %>
                <ul>
                    <% errors.forEach(error=> { %>
                        <li>
                            <%= error.message %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>
        </div>
    </div>

    <!-- TODO REMOVE THIS WHEN WE ARE ON MOBILE -->
    <div class="formImage">
        <h1>Welcome Back to Shelfie!</h1>
        <img src="/imgs/formImg.png" alt="Image" class="homePageImage">
    </div>
</div>

<%- include('partials/footer') %>
