<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="signContainer">
    <div class="formContainer">
        <img src="/imgs/icons/accountIcon.svg" alt="User Icon" class="formIcon">
        <h1>Password Reset</h1>
        <form action="/password-reset" method="POST"  class="formStyle">
            <input type="email" id="email" name="email" placeholder="email" required>
            <br>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>

    <% if (errors.length> 0) { %>
        <ul>
            <% errors.forEach(error=> { %>
                <li>
                    <%= error %>
                </li>
                <% }) %>
        </ul>
    <% } %>
</div>

<%- include('partials/footer') %>
