<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="signContainer">
    <div class="formContainer">
        <img src="/imgs/icons/accountIcon.svg" alt="User Icon" class="formIcon">
        <h1>Sign Up</h1>
        <form action="/register" method="POST" class="formStyle">
             <input type="text" id="firstName" name="firstName" placeholder="First Name" required>
            <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
            <input type="text" id="username" name="username" placeholder="User Name" required>
            <input type="email" id="email" name="email" placeholder="Email"required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
            
            <div class="buttonBG">
                <button type="submit">Sign up</button>
            </div>
            
        </form>

        <div class="formFooter">
            <p>Already have an account?</p> 
            <a href="/login" class="signIn">Sign in</a>
        </div>


        <div class="errorMsgForm">
        <% if (errors.length> 0) { %>
            <ul>
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.message %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
        </div>
    </div>

    <!--TODO: Add a media query and hide this when we are on mobile -->
    <div class="formImage">
        <h1 >Join Shelfie and Start Tracking Your Reading Journey Today!</h1>
        <img src="/imgs/formImg.png" alt="Image" class="homePageImage">
    </div>

</div>



<%- include('partials/footer') %>