*{
    font-family:'Lustria';
    color: black;
    background-color: #FAF6E3;
}

h1{
    color: #000;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Lustria;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    display: flex;
}


.searchForm{

}

.searchText{

}

.homePageText{
    color: #000;
    font-family: Lustria;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}